.album-category {
  &__user {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user > div > img {
    width: 50px;
    height: 50px;
    float: right;
  }

  &__user > div > div {
    float: left;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
  }

  &__continue {
    padding: 32px;
    font-weight: 700;
    color: gray;
  }

  &__hide {
    display: none;
  }

  &__show {
    display: block;
  }
}

.pagination {
  display: inline-block;
  display: flex;
  justify-content: center;

  & > li {
    padding: 4px;
    // width: 50px !important;
    // height: 50px !important;
  }

  a {
    color: black;
    float: left;
    // padding: 16px;
    font-weight: 800;
    text-decoration: none;
  }
  a.active {
    background-color: black;
    color: white;
  }
  a:hover:not(.active) {
    background-color: #ddd;
  }
}

.page-item {
  padding: 0px;
}

@media only screen and (max-width: 992px) {
  .album-category {
    &__hide {
      display: block;
    }

    &__show {
      display: none;
    }
  }
}
