.vertical {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.horizontal {
  margin-left: 50px;
  width: 1250px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 32px;
  overflow: auto;
}
