.vertical {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.horizontal {
  margin: auto;
  width: 60%;

  & > ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 32px;
    overflow: auto;
  }
}

.slick-prev:before,
.slick-next:before {
  color: lightgray !important;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 12px !important;
  line-height: 20px;
}
